@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Monoton|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Monoton|Poiret+One|Rock+Salt');

.App {
  text-align: center;
}
.h2 {
  text-transform: uppercase;
}

.App-body {
  margin: 2%;
}

.logo {
  height: 70px;
  margin: 2%;
}

.intro {
  text-align: center;
  font-size: 48px;
  font-family: 'Rock Salt', cursive;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #006200; */
  background: linear-gradient(#86d7b0, #34646c);
  z-index: -1;
}

a {
  margin: 5px;
  text-decoration: none;
}

a, a:visited {
  color: white;
}

a.active {
  color: green;
}

body {
  font-family: 'Poiret One', cursive;
}
