@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

/*ABOUT HEADER LOGO*/

.about {
  margin-left: 1%;
  display: flex;
  justify-content: flex-start;
}
.about-logo {
  height: 40px;
  padding-top: 10px;
}
.about-intro {
  font-size: 40px;
  padding-left: 10px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

/*ABOUT CONTENT*/
.about-flex {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

@media screen and (max-width: 600px){
  .about-flex {
    display: block;
  }

}

.about-img {
  height: 18.5em;
  border: 2px solid white;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.about-content {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  padding-left: 3%;
  padding-right: 5%;
}

.about-button {
  display: inline-block;
  margin-top: 2%;
  margin-left: 0;
  text-transform: uppercase;
  background-color: #387523;
  color: white;
  border: solid 2px #387523;;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.about-button:hover, .about-button:active {
    background-color: white;
    color: #387523;
}

.flatiron {
  text-decoration: none;
}

.skills {
  color: #387523;
}
