.navigation {
  padding: 5px 5px 0px 0px;
  text-align: right;
  margin: 0;
}
/*MOBILE*/
@media screen and (max-width: 599px){
  .navigation{
    text-align: center;
    margin-bottom: 10px;
  }
}

  a {
    margin: 5px;
    font-size: 20px;
  }

  a, a:visited {
    color: white;
  }

  a.active {
    color: #387523;
  }
