.App {
  text-align: center;
}
.h2 {
  text-transform: uppercase;
}

.App-body {
  font-family: sans-serif;
  margin: 2%;
}

.logo {
  height: 70px;
  margin: 2%;
}

.intro {
  text-align: center;
  font-size: 48px;
  font-family: "Arial Black", sans-serif;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #006200; */
  background: linear-gradient(#86d7b0, #34646c);
  z-index: -1;
}
